<input type="text"  id="user_id" name="user_id" placeholder="user_id">
<input type="password" id="password" name="password" placeholder="password">
<button id="submit-btn">登入</button>

<script>

  function get_data(){
    data = {};
    data["user_id"] = document.getElementById("user_id").value;
    data["password"] = document.getElementById("password").value;
    console.log(data);
    return data;
  }

  document.getElementById('submit-btn').addEventListener('click', () => {
      
      fetch('/login', {
          method: 'POST',
          headers: {
              'Content-Type': 'application/json'
          },
          body: JSON.stringify(get_data())
      })
      .then(response => {
          let text = "";
          if (response.ok) text = "Welcome!";
          else text = "User or password error";

          alert(text);
      })
  });
</script>